.dashboard-crud {
    margin-top: 32px;
}

.dashboard-recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.dashboard-recipe {
    width: 30rem;
    max-height: 250px;
    margin: 2rem 5rem 2rem 5rem;
    background-color: var(--color-white);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
}

.dashboard-recipe-header {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 16px;
}

.dashboard-recipe-img img{
    width: 200px;
    max-height: 100px;
}

.dashboard-recipe-body {
    font-size: 18px;
    padding-left: 16px;
}

.dashboard-recipe-body button, .create-recipe {
    padding: 8px;
    font-size: 20px;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    grid-column: span 2;
    display: block;
    margin: 8px;
    width: 150px;
}

.create-recipe {
    margin-left: 64px;
    text-decoration: none;
    width: 230px;
    padding: 12px;
    font-family: var(--font-primary);
}

.create-recipe:hover {
    cursor:pointer;
}

.dashboard-recipe-body button:hover {
    cursor: pointer;
}

.published-recipe {
    color: var(--color-info-dark);
}

.not-published-recipe {
    color: var(--color-warning-dark);
}

.edit-form {
    display: grid;
    background-color: var(--color-white);
    width: 600px;
    margin: auto;
    position: relative;
    height: auto;
    min-height: 500px;
    padding: 16px;
    font-family: var(--font-primary);
    background-color: var(--color-gray-2);
    border: 2px solid black;
}

.edit-form form {
    margin: auto;
}

.edit-form-title {
    margin: auto;
    font-size: 32px;
}

.edit-form input, .edit-form select {
    display: block;
    padding: 16px;
    color: var(--color-dark-text);
    border-radius: .3rem;
    outline: none;
    border: 1px solid black;
    font-size: 18px;
    font-family: var(--font-primary);
    outline: none;
    border: 1px solid black;
    transition: border .5s;
}

.edit-form input:focus, .edit-form select:focus {
    border: 1px solid var(--color-primary);
}

.edit-form-field {
    display: grid;
    margin: 16px;
}

.edit-form-container {
    display: flex;
    gap: 16px;
}

.edit-form-cover-img img {
    width: 75px;
}

.edit-form button[type="submit"] {
    padding: 16px;
    font-size: 20px;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    grid-column: span 2;
    display: block;
    margin: auto;
    width: 300px;
    margin-bottom: 16px;
}

.edit-form button[type="submit"]:hover {
    cursor: pointer;
}

button.delete-recipe {
    background-color: var(--color-error-dark) !important;
}