.form-title {
    font-size: 32px;
    margin: 16px auto 16px auto;
    text-align: center;
}

.form {
    margin: auto;
    position: relative;
    height: auto;
    min-height: 500px;
    padding: 16px;
    font-family: var(--font-primary);
    width: 70%;
    background-color: var(--color-gray-2);
    border: 2px solid black;
}
.form label {
    display: block;
    width: 100%;
}

.form input {
    display: block;
    padding: 16px;
    color: var(--color-dark-text);
    border-radius: .3rem;
    outline: none;
    border: 1px solid black;
    font-size: 18px;
}

.form input:focus {
    border: 1px solid var(--color-primary-hover);
    transition: .3s border;
}

.form-field {
    display: grid;
    margin: 16px 16px;
}

.form-fields {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.form button[type="submit"] {
    padding: 16px;
    font-size: 20px;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    grid-column: span 2;
    display: block;
    margin: auto;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
}

.form button[type="submit"]:hover {
    cursor: pointer;
}

.errorlist {
    list-style-type: none;
    color: var(--color-error-dark);
}

@media screen and (max-width: 900px) {
    .form-fields {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .form button[type="submit"] {
        position: static;
        transform: none;
    }

    .form {
        height: 820px;
        margin: 64px auto;
    }
}