{% for recipe in recipes %}
<div class="recipe">
    <div class="recipe-image">
        <a href="{% url 'recipes:recipe' recipe.id %}">
            {% if recipe.cover %}
                <img src="{{recipe.cover.url}}" alt="teste">
            {% else %}
                <img src="https://placehold.co/1280x640/black/png" alt="teste">
            {% endif %}
        </a>
    </div>
    <div class="recipe-title">
        <h3>{{recipe.title}}</h3>
    </div>
    <div class="recipe-author">
        <span class="author-name">
            <i class="fa-sharp fa-solid fa-user"></i>
            {% if recipe.author is not None %}
                {% if recipe.author.first_name and recipe.author.last_name %}
                    <p>{{recipe.author.first_name}} {{recipe.author.last_name}}</p>
                {% else %}
                    <p>{{recipe.author.username}}</p>
                {% endif %}
            {% else %}
                <p>Desconhecido</p>
            {% endif %}
        </span>
        <span class="author-date">
            <i class="fa-sharp fa-solid fa-calendar-days"></i>
            <p>
                {% if recipe.updated_at %}
                    {{recipe.updated_at|date:"d/m/Y"}} às {{ recipe.updated_at|date:"H:i"}}
                {% else %}
                    {{recipe.created_at|date:"d/m/Y"}} às {{ recipe.created_at|date:"H:i"}}
                {% endif %}
            </p>
        </span>
        {% if recipe.category is not None %}
            <span class="author-category">
                <i class="fa-sharp fa-solid fa-layer-group"></i>
                <a href="{% url 'recipes:category' recipe.category.id %}">
                    <p>{{recipe.category}}</p>
                </a>
            </span>
        {% endif %}
    </div>
    <div class="recipe-description">
        <p>{{recipe.description}}</p>
    </div>
    <div class="recipe-prepare">
        <span>
            <p><i class="fa-sharp fa-solid fa-clock"></i> Preparo</p>
            <p>{{recipe.preparation_time}} {{recipe.preparation_time_unit}}</p>
        </span>
        <span>
            <p><i class="fa-sharp fa-solid fa-pizza-slice"></i> Porções</p>
            <p>{{recipe.servings}} {{recipe.servings_unit}}</p>
        </span>
    </div>
    {% if is_detail_page %}
        <div class="recipe-howtoprepare">
            {% if recipe.preparation_steps_is_html %}
                <p>
                    {{recipe.preparation_steps|safe}}
                </p>
            {% else %}
                <p>
                    {{recipe.preparation_steps}}
                </p>
            {% endif %}
        </div>
    {% endif %}
    {% if not is_detail_page %}
        <div class="recipe-footer">
            <a href="{% url 'recipes:recipe' recipe.id %}"><p><i class="fa-sharp fa-solid fa-eye"></i> Ver mais...</p></a>
        </div>
    {% endif %}
</div>

{% if is_detail_page %}
    <div class="comments">
        <h2>Comments</h2>
        <div class="comment-dashboard">
            {% if request.user.is_authenticated %}
                {% if comment_form %}
                    <form action="{% url 'comments:save_comment' comment_form.id %}" method="POST">
                        {% csrf_token %}
                        <textarea name="content" cols="30" rows="10">{{comment_form.content}}</textarea>
                        <button type="submit">Save</button>
                    </form>
                {% else %}
                <form action="{% url 'comments:create_comment' recipe.id %}" method="POST">
                    {% csrf_token %}
                    <textarea name="content" cols="30" rows="10"></textarea>
                    <button type="submit">Comment</button>
                </form>
                {% endif %}
            {% endif %}
        </div>
        {% for comment in recipe.comments.all %}
            <div class="comment">
                <div class="comment-header">
                    <h3><i class="fa-sharp fa-solid fa-user"></i> {{comment.author}} {% if request.user == comment.author %} (You) {% endif %}</h3>
                </div>
                <div class="comment-body">
                    <p>{{comment.content}}</p>
                </div> 
                <div class="comment-footer">
                    {% if request.user == comment.author %}
                        <form action="{% url 'comments:edit_comment' comment.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="content" value="{{comment.content}}">
                            <button type="submit">Edit</button>
                        </form>

                        <form action="{% url 'comments:delete_comment' comment.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% comment %} 
{% empty %}
<h2 class="text-404"> No recipes found here )= </h2>  
{% endcomment %}
{% endfor %}