{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/af245f6573.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static "global/styles/global.css" %}">
    <link rel="stylesheet" href="{% static "global/styles/header.css" %}">
    <link rel="stylesheet" href="{% static "recipes/styles/search.css" %}">
    <link rel="stylesheet" href="{% static "recipes/styles/recipe.css" %}">
    <link rel="stylesheet" href="{% static "global/styles/footer.css" %}">
    <link rel="stylesheet" href="{% static "recipes/styles/pagination.css" %}">
    <link rel="stylesheet" href="{% static "global/styles/flash-messages.css" %}">
    <link rel="stylesheet" href="{% static "authors/styles/form-page.css" %}">
    <link rel="stylesheet" href="{% static "global/styles/navbar.css" %}">
    <link rel="stylesheet" href="{% static "authors/styles/admin-page.css" %}">
    <link rel="stylesheet" href="{% static "authors/styles/dashboard.css" %}">

    <title>{% block title %}{% endblock title %} | Recipes</title>
</head>
{% block body %}{% endblock body %}
</html>